<div class="row product-page-content" ng-cloak>
	<div rich-snippet content="ProductCtrl.productData.richsnippet"></div>
	<div class="mobile-product-header no-gutter col-xs-12 col-sm-12 visible-xs hidden-sm">
		<div class="title-review-stars col-xs-12 col-sm-12">
			<h1 class="product-name text-center-imp">%%GLOBAL_prod_name%%</h1>
			<div class="text-center margtop-5">
				<div rating ng-model="ProductCtrl.productData.rating" max="ProductCtrl.maxRating" readonly="ProductCtrl.isReadonly" class="ratings"></div>
				<a class="reviews-text-link" scroll-to="reviews" ng-click="ProductCtrl.active('reviews')">
					<span ng-if="ProductCtrl.productData.numreviews > 0"><span ng-bind="ProductCtrl.productData.numreviews"></span> product reviews</span>
					<span ng-if="ProductCtrl.productData.numreviews === 0">Be the first to review this product.</span>
				</a>
			</div>
		</div>
	</div>
	<div class="col-md-12 hidden-xs visible-sm visible-md visible-lg visible-xl">
		<div class="col-sm-7 col-md-9">
			<h1 class="product-name">%%GLOBAL_prod_name%%</h1>
		</div>
		<div class="price-v4f-savings pull-right col-sm-4 col-md-3">
			<div class="product-image-price" ng-if="ProductCtrl.productData.subItems.minMaxPrice.minPrice!='0.00'">
				<div class="price-info">
					<p ng-show="ProductCtrl.productData.isComboPrice">Combo Pricing</p>
					<p class="product-price" ng-bind="(ProductCtrl.selectedProducts[0][0].salePrice | currency)"></p>
					<p class="v4f-points" ng-bind="'or ' + ProductCtrl.selectedProducts[0][0].v4fPoints"></p>
					<div ng-hide="ProductCtrl.selectedProducts[0][0].retailPrice == ProductCtrl.selectedProducts[0][0].salePrice">
						<p class="msrp">Was <span ng-bind="ProductCtrl.selectedProducts[0][0].retailPrice"></span></p>
						<p class="savings">You save <span ng-bind="(ProductCtrl.selectedProducts[0][0].retailPrice - ProductCtrl.selectedProducts[0][0].salePrice | currency)"></span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="product-availability-summary col-xs-12 col-sm-6 col-md-5 col-lg-5">
		<div class="product-gallery col-xs-12 col-sm-12 col-md-12 col-lg-12" >
			<div class="selected-image col-lg-12 hidden-xs col-sm-12">
				<img class="img-responsive img-center feature-image prodid{{ProductCtrl.productData.productId}}-img" ng-src="{{ProductCtrl.selected.stdThumbImgUrl}}" alt="{{ProductCtrl.selected.altText}}" title="{{ProductCtrl.selected.altText}}" />
			</div>
			<div ng-if="ProductCtrl.productData.mobImgUrl != ''" class="selected-image col-xs-8 hidden-sm hidden-md hidden-lg">
                <img class="img-responsive img-center feature-image" ng-src="{{ProductCtrl.productData.mobImgUrl}}" height="350" alt="{{ProductCtrl.selected.altText}}" title="{{ProductCtrl.selected.altText}}" />
	        </div>
			<div class="hidden-sm hidden-md hidden-lg col-xs-4">
				<div class="padtop-10 text-center row"><label class="margbottom-0">E-Liquid DNA</label></div>
				<div class="text-center" ng-repeat="(flavorattributeid,value) in ProductCtrl.productData.flavorattributeids_map" ng-click="ProductCtrl.openAttributePopup(ProductCtrl.productData.flavorattributeids_map)">

					<div class="indicator icon-e-liquid-attribute-level{{value.indicator}}"></div>
					<div class="indicator-text">{{value.flavorname}}</div>
				</div>
<!--				<ul class="dna-popup">
							<li ng-repeat="(flavorattributeid,value) in ngDialogData.productData" class="clear-both">"{{value.flavorname}}" scale from 0-4</li>
						</ul>-->
				<script type="text/ng-template" id="attribute_mobile_popup_template.html">
					<div class="text-center">
						<h2 class="padbottom-5">E-LIQUID DNA</h2>
						<span class="strength-tooltip">We have identified four critical characteristics that influence the enjoyment of e-liquid. <strong>Throat hit</strong> is the sensation you get on the back of your throat when you puff. Many recent smokers crave a stronger throat hit. <strong>Tobacco taste</strong> refers to how much tobacco flavor is present in the e-liquid. Typically tobacco blends have the highest rating and fruit or specialty flavors have the lowest. We found that some vapers love a sweet taste, like dessert, while others tend to favor heartier flavors; the <strong>sweetness</strong> level illustrates this trait. And <strong>PG</strong> carries more flavor and delivers a better throat hit, while *VG *creates more vapor. The choice is yours.</span>
					</div>
				</script>
			</div>
		</div>
		<div class="hidden-xs col-sm-12 availability-estimate-container" ng-show="ProductCtrl.isAConfigurableProduct">
			<p class="legend-title text-center">Availability Estimate</p>
			<div class="legend no-gutter col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<span class="col-xs-3"><span class="icon icon-clock" style="color:#008000;"></span><span class="desc"> 1-day</span></span>
				<span class="col-xs-3"><span class="icon icon-clock" style="color:#FFD100;"></span><span class="desc"> 7-day</span></span>
				<span class="col-xs-3"><span class="icon icon-clock" style="color:#FD8C25;"></span><span class="desc"> 15-day</span></span>
				<span class="col-xs-3"><span class="icon icon-clock" style="color:#FF0000;"></span><span class="desc"> 30-day</span></span>
			</div>
		</div>
		<div class="price-v4f-savings col-xs-12 hidden-sm hidden-md hidden-lg text-center-imp">
			<div class="product-image-price">
				<div class="price-info text-center-imp">
					<div>
						<div class="margtop-5 margbottom-5">
							<span ng-show="ProductCtrl.productData.subItems.minMaxPrice.is_min" class="font-20">Starting at&nbsp;</span><span class="product-price" ng-bind="(ProductCtrl.productData.subItems.minMaxPrice.minPrice | currency)"></span>
							<div class="v4f-points margtop-5" ng-bind="ProductCtrl.productData.subItems.minMaxPrice.minV4FPoints"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="customize-btn-container">
				<div class="add-to-cart btn btn-primary col-xs-12 col-sm-12 margbottom-20" ng-click="ProductCtrl.customizeEliquidProduct(ProductCtrl.productData)"><img class="loading-icon" style="display:none;" src="/images/loader/white-circle.gif" heigth="15" width="15" />Customize</div>
			</div>
			<script id="eliquid-customize-template.html" type="text/ng-template">
				<div class="text-center padbottom-20" style="font-size:22px;font-family:'Gibson Light';">CUSTOMIZE OPTIONS</div>
				<div ng-init="NgDialogAddonsCtrl.productData = ngDialogData.productData;NgDialogAddonsCtrl.cartRequestParameters.product_id = ngDialogData.productData.productId;">
					<div ng-repeat="accessoryGroup in NgDialogAddonsCtrl.productData.subItems.accessoryGroups" ng-init="groupIndex = $index; NgDialogAddonsCtrl.productCodes.push([]);">
				        <div ng-repeat="item in accessoryGroup.groupItems" ng-init="itemIndex = $index;NgDialogAddonsCtrl.productCodes[groupIndex].push({'codes':item.defaultProductCodeValues, 'groupId': item.groupId, 'groupName': item.groupName});">
							<div class="row">
				                <div class="configurator-section hidden-sm">
									<form novalidate>
					                    <div ng-repeat="index in item.skuIndexes | orderBy:'-displayOrder':true" ng-hide="index.displayOrder == null">
					                        <div class="{{item.groupTypeName || item.groupName | cssClass }}-{{index.name || item.products['name'] | cssClass}}-container form-group">
					                            <label class="variation-label text-left text-capitalize" ng-bind="index.name"><span class="icon-help variation-info" popover="{{index.infoText | unsafe}}" popover-title="{{index.infoTitle}}" popover-trigger="mouseenter"></span></label>
					                            <p class="variation-instructions" ng-bind="variation.instructions"></p>
					                            <select class="form-control" ng-model="NgDialogAddonsCtrl.productCodes[groupIndex][itemIndex].codes[index.skuIndex]">
					                                <option ng-selected="{{value == NgDialogAddonsCtrl.productCodes[groupIndex][itemIndex].codes[index.skuIndex]}}"
					                                        ng-repeat="value in index.values"
					                                        value="{{value}}" ng-disabled="NgDialogAddonsCtrl.isGroupVariationAvailable(index.skuIndex, value, itemIndex, groupIndex)">
					                                  		{{ (index.name | lowercase) == 'size' ? NgDialogAddonsCtrl.thisSwatchLabel(item.itemType, index.name, value) + ' - ' + (NgDialogAddonsCtrl.getGroupVariationPrice(index.skuIndex, value, itemIndex, groupIndex) | currency) : NgDialogAddonsCtrl.thisSwatchLabel(item.itemType, index.name, value)}}
					                                </option>
					                            </select>
					                        </div>
					                    </div>
									</form>
									<div class="form-group vertical-align-center">
				                        <div counter value="NgDialogAddonsCtrl.cartRequestParameters.qty"
				                          data-min="1"
				                          data-max="10"
				                          data-step="1"
				                          data-addclass="quantity-counter"
				                          data-width="130px"
				                          data-editable>
				                        </div>
				                    </div>
				                </div>
							</div>
							<div class="vertical-align-center">
								<div class="col-sm-3" ng-if="NgDialogAddonsCtrl.productData.allowPurchases == 1">
								  <button ng-hide="NgDialogAddonsCtrl.displayOOSAlert" class="add-to-cart btn btn-primary" ng-click="NgDialogAddonsCtrl.addToCart()"><img class="loading-icon" ng-show="NgDialogAddonsCtrl.addToCartLoader" src="/images/loader/white-circle.gif" height="18" width="18" /> Add to Cart</button>
								</div>
							</div>
							<div class="availability-estimate-container" ng-show="NgDialogAddonsCtrl.isAConfigurableProduct">
								<div class="margtop-15 col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">Availability Estimate: <span class="availability icon-clock" data-group-index="0" data-item-index="0" ng-style="{'color':NgDialogAddonsCtrl.selectedProducts[groupIndex][itemIndex].availabilityStatus.availhex}" style="color: rgb(0, 128, 0);"></span></div>
								<div class="legend no-gutter col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<span class="col-xs-3"><span class="icon icon-clock" style="color:#008000;"></span><span class="desc"> 1-day</span></span>
									<span class="col-xs-3"><span class="icon icon-clock" style="color:#FFD100;"></span><span class="desc"> 7-day</span></span>
									<span class="col-xs-3"><span class="icon icon-clock" style="color:#FD8C25;"></span><span class="desc"> 15-day</span></span>
									<span class="col-xs-3"><span class="icon icon-clock" style="color:#FF0000;"></span><span class="desc"> 30-day</span></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</script>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="product-price-configurator col-xs-12 col-sm-6 col-md-7 col-lg-7">
		<div class="row col-sm-12 visible-sm visible-md visible-lg visible-xl">
			<div class="title-review-stars col-xs-6 col-sm-12 col-md-8 col-lg-8">
				<div rating ng-model="ProductCtrl.productData.rating" max="ProductCtrl.maxRating" readonly="ProductCtrl.isReadonly" class="ratings"></div>
				<a class="reviews-text-link" scroll-to="reviews" ng-click="ProductCtrl.active('reviews')">
					<span ng-if="ProductCtrl.productData.numreviews > 0"><span ng-bind="ProductCtrl.productData.numreviews"></span> product reviews</span>
					<span ng-if="ProductCtrl.productData.numreviews === 0">Be the first to review this product.</span>
				</a>
			</div>
			
			<div class="col-sm-12 col-md-12">
				<p class="padtop-10 text-justify" ng-bind-html="ProductCtrl.productData.prodshortdescription"></p>
			</div>
			
			<div class="col-sm-12 col-md-12" ng-show="ProductCtrl.productData.flavorattributeids_map">
				<div>
					<label class="variation-label padtop-15 padbottom-10 pull-left">E-Liquid DNA</label>
					<span class="pull-left padtop-5">
						<a href="javascript:void(0)" class="asr-info-dna" role="button" qtip  qtip-classes="qtip-bootstrap qtip-shadow" qtip-template="attribute_tooltip_template.html" qtip-template-object="ProductCtrl.productData.flavorattributeids_map">
							<img src="%%GLOBAL_ShopPath%%/templates/v2pro/images/info-icon.png" width="13px" height="13px" />
						</a>
					</span>
				</div>
				<div class="row clear-both">
					<div class="col-sm-3 col-md-3 text-center" ng-repeat="flavorAttribute in ProductCtrl.productData.flavorattributeids_map | orderBy:'-attributedisplayorder':true ">
						<div class="indicator icon-e-liquid-attribute-level{{flavorAttribute.indicator}}"></div>
						<div>{{flavorAttribute.flavorname}}</div>
					</div>
				</div>
			</div>
<!--			//				<ul class="attribute-tooltip">
//					<li ng-repeat="(flavorattributeid,value) in object" class="clear-both">"{{value.flavorname}}" scale from 0-4</li>
//				</ul>-->
			<script type="text/ng-template" id="attribute_tooltip_template.html">
						<span class="strength-tooltip">We have identified four critical characteristics that influence the enjoyment of e-liquid. <strong>Throat hit</strong> is the sensation you get on the back of your throat when you puff. Many recent smokers crave a stronger throat hit. <strong>Tobacco taste</strong> refers to how much tobacco flavor is present in the e-liquid. Typically tobacco blends have the highest rating and fruit or specialty flavors have the lowest. We found that some vapers love a sweet taste, like dessert, while others tend to favor heartier flavors; the <strong>sweetness</strong> level illustrates this trait. And <strong>PG</strong> carries more flavor and delivers a better throat hit, while *VG *creates more vapor. The choice is yours.</span>
			</script>
			
			<div class="col-md-12">
				<div>
					<label class="variation-label padtop-30 padbottom-10 pull-left">Strength</label>
					<span class="pull-left padtop-20">
						<a href="javascript:void(0)" class="asr-info-strength" role="button" qtip-classes="qtip-bootstrap qtip-shadow" qtip qtip-template="strength_tooltip_template.html">
							<img src="%%GLOBAL_ShopPath%%/templates/v2pro/images/info-icon.png" width="13px" height="13px" />
						</a>
					</span>
				</div>
			</div>
			<script type="text/ng-template" id="strength_tooltip_template.html">
				<span class="strength-tooltip">This is the percentage of nicotine concentration in the e-liquid. The higher the number, the "stronger" the mixture. Your preference may change over time, but typically heavier smokers or smokers who prefer "full flavored" cigarettes will select 1.8% or 2.4%. Moderate smokers will choose 1.2% or 1.8%, and light smokers will choose 0.6% or 1.2%. Many vapers gradually go down to 0.0% nicotine.</span>
			</script>
		</div>
		<div class="hidden-xs visible-sm visible-md visible-lg visible-xl" ng-repeat="accessoryGroup in ProductCtrl.productData.subItems.accessoryGroups" ng-init="groupIndex = $index; ProductCtrl.productCodes.push([]);">
	        <div ng-repeat="item in accessoryGroup.groupItems" ng-init="itemIndex = $index;ProductCtrl.productCodes[groupIndex].push({'codes':item.defaultProductCodeValues, 'groupId': item.groupId, 'groupName': item.groupName});">
				<div class="row">
	                <div class="configurator-section col-sm-12">
						<form novalidate>
		                    <div ng-repeat="index in item.skuIndexes | orderBy:'-displayOrder':true" ng-hide="index.displayOrder == null">
		                        <div class="{{item.groupTypeName || item.groupName | cssClass }}-{{index.name || item.products['name'] | cssClass}}-container form-group">
		                            <label ng-if="index.name!='strength'" class="variation-label text-left text-capitalize" ng-bind="index.name"><span class="icon-help variation-info" popover="{{index.infoText | unsafe}}" popover-title="{{index.infoTitle}}" popover-trigger="mouseenter"></span></label>
		                            <p class="variation-instructions" ng-bind="variation.instructions"></p>
		                            <select class="form-control" ng-model="ProductCtrl.productCodes[groupIndex][itemIndex].codes[index.skuIndex]">
		                                <option ng-selected="{{value == ProductCtrl.productCodes[groupIndex][itemIndex].codes[index.skuIndex]}}"
		                                        ng-repeat="value in index.values"
		                                        value="{{value}}" ng-disabled="ProductCtrl.isGroupVariationAvailable(index.skuIndex, value, itemIndex, groupIndex)">
		                                  		{{ (index.name | lowercase) == 'size' ? ProductCtrl.thisSwatchLabel(item.itemType, index.name, value) + ' - ' + (ProductCtrl.getGroupVariationPrice(index.skuIndex, value, itemIndex, groupIndex) | currency) : ProductCtrl.thisSwatchLabel(item.itemType, index.name, value)}}
		                                </option>
		                            </select>
		                        </div>
		                    </div>
							<div class="row current-selection">
								<span class="availability icon-clock col-xs-1 col-sm-1 text-center" data-group-index="{{groupIndex}}" data-item-index="{{itemIndex}}" ng-style="{'color':ProductCtrl.selectedProducts[groupIndex][itemIndex].availabilityStatus.availhex}">
								</span>
								<span class=" row col-xs-9 col-sm-9" ng-bind="ProductCtrl.selectedProducts[groupIndex][itemIndex].productName"></span>
							</div>
						</form>
						<div class="pull-right">
							<div class="col-sm-3" ng-if="ProductCtrl.productData.allowPurchases == 1">
							  <button ng-hide="ProductCtrl.displayOOSAlert" class="add-to-cart btn btn-primary" ng-click="ProductCtrl.addToCart()"><img class="loading-icon" ng-show="ProductCtrl.addToCartLoader" src="/images/loader/white-circle.gif" height="18" width="18" /> Add to Cart</button>
							</div>
						</div>
						<div class="form-group pull-right">
	                        <div counter value="ProductCtrl.cartRequestParameters.qty"
	                          data-min="1"
	                          data-max="10"
	                          data-step="1"
	                          data-addclass="quantity-counter"
	                          data-width="130px"
	                          data-editable>
	                        </div>
	                    </div>
	                </div>
				</div>
			</div>
		</div>
	</div>
<div class="product-gallery hidden-xs hidden-sm" ng-if="ProductCtrl.relatedProducts">
	<div class="col-md-12"><h3 class="margleft-50">Related Products</h3></div>
	<div class="thumbsshell col-md-12 col-lg-12 no-gutter margtop-10 margbottom-30">
		<div class="col-sm-2 col-md-2 col-lg-2 margtop-15" ng-if="ProductCtrl.relatedProductCount > 5">
			<div class="icon-caret-left text-center" ng-click="ProductCtrl.scrollThumbLeft()"></div>
		</div>
		<div class="thumbswrapper" ng-class="ProductCtrl.setRelProdContClass()">
			<ul class="thumbslist" ng-style="thumbposition">
				<li ng-repeat="image in ProductCtrl.relatedProducts">
					<div class="thumbwrapper">
						<a target="_self" class="text-center" ng-href="{{image.prod_url}}">
							<img class="thumbnail" ng-src="{{image.thumb_url}}" alt="{{image.alt_text}}" />
							<div class="text">{{image.prod_name}}</div>
							<div class="text" ng-if="image.prod_price!='0.00'"><span ng-if="image.is_min_price">Starting at </span>{{image.prod_price|currency}}</div>
							<div class="text" ng-if="image.prod_price=='0.00'">&nbsp;</div>
						</a>
					</div>
				</li>
			</ul>
		</div>
		<div class="scroll-button col-sm-2 col-md-2 col-lg-2 margtop-15" ng-if="ProductCtrl.relatedProductCount > 5">
			<div class="icon-caret-right text-center" ng-click="ProductCtrl.scrollThumbRight()"></div>
		</div>
	</div>
</div>
	<div class="row product-btm-tabs">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		  <div tabset>
			 <div tab 
	            ng-repeat="t in ProductCtrl.tabs" 
	            heading="{{t.heading}}"
	            id="{{t.id}}"
	            active="t.active" select="ProductCtrl.active(t.id)">
	            <div ng-include="t.loadUrl" class="tab-pane-content"></div>
	        </div>
	      </div>
		</div>
	</div>

